        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'noteMatiereTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'noteMatiereTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'noteMatiereNote' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="1"
                                                           placeholder="{{'noteMatiereNote' | translate}}" [(ngModel)]="item.note"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="2">{{'noteMatiereProfesseur' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="professeurs" [(ngModel)]="item.professeur" id="2"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="code" placeholder="{{'noteMatiereProfesseur' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateProfesseur('Professeur')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="3">{{'noteMatiereClasseRoom' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="classeRooms" [(ngModel)]="item.classeRoom" id="3"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="code" placeholder="{{'noteMatiereClasseRoom' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateClasseRoom('ClasseRoom')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="4">{{'noteMatiereMatiere' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="matieres" [(ngModel)]="item.matiere" id="4"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="code" placeholder="{{'noteMatiereMatiere' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateMatiere('Matiere')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="5">{{'noteMatiereEtudiant' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="etudiants" [(ngModel)]="item.etudiant" id="5"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="codeMassar" placeholder="{{'noteMatiereEtudiant' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateEtudiant('Etudiant')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-professeur-create-admin></app-professeur-create-admin>
                    <app-classe-room-create-admin></app-classe-room-create-admin>
                    <app-matiere-create-admin></app-matiere-create-admin>
                    <app-etudiant-create-admin></app-etudiant-create-admin>


    </p-dialog>
