
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'noteMatiereTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'noteMatiereTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Note' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'Note' | translate}}" [(ngModel)]="item.note"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Professeur' | translate}}</label>
                        <p-dropdown [options]="professeurs" [(ngModel)]="item.professeur" id="2" [disabled]="true" optionLabel="code" placeholder="{{'Professeur' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Classe room' | translate}}</label>
                        <p-dropdown [options]="classeRooms" [(ngModel)]="item.classeRoom" id="3" [disabled]="true" optionLabel="code" placeholder="{{'Classe room' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Matiere' | translate}}</label>
                        <p-dropdown [options]="matieres" [(ngModel)]="item.matiere" id="4" [disabled]="true" optionLabel="code" placeholder="{{'Matiere' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Etudiant' | translate}}</label>
                        <p-dropdown [options]="etudiants" [(ngModel)]="item.etudiant" id="5" [disabled]="true" optionLabel="codeMassar" placeholder="{{'Etudiant' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



