        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'noteDisciplineTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'noteDisciplineTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'noteDisciplineNote' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'noteDisciplineNote' | translate}}" [(ngModel)]="item.note"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="2">{{'noteDisciplineProfesseur' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="professeurs" [(ngModel)]="item.professeur" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'noteDisciplineProfesseur' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateProfesseur('Professeur')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="3">{{'noteDisciplineClasseRoom' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="classeRooms" [(ngModel)]="item.classeRoom" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'noteDisciplineClasseRoom' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateClasseRoom('ClasseRoom')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="4">{{'noteDisciplineDiscipline' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="disciplines" [(ngModel)]="item.discipline" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'noteDisciplineDiscipline' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDiscipline('Discipline')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="5">{{'noteDisciplineEtudiant' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="etudiants" [(ngModel)]="item.etudiant" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="codeMassar" placeholder="{{'noteDisciplineEtudiant' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateEtudiant('Etudiant')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-professeur-create-admin></app-professeur-create-admin>
            <app-classe-room-create-admin></app-classe-room-create-admin>
            <app-discipline-create-admin></app-discipline-create-admin>
            <app-etudiant-create-admin></app-etudiant-create-admin>


    </p-dialog>
